<div class="container">
  <header class="header">
    <h1>{{ 'WELCOME' | translate }}</h1>

    <select (change)="globalSwitchLanguage($event)">
      <option [value]="Language.French">Français</option>
      <option [value]="Language.English">English</option>
      <option [value]="Language.Romanian">Română</option>
      <option [value]="Language.Russian">Русский</option>
      <option [value]="Language.Spanish">Español</option>
      <option [value]="Language.Uzbek">O‘zbek</option>
    </select>
  </header>

  <section class="story">
    <h2 class="story-title">SALAMMBÔ</h2>
    <div *ngFor="let paragraph of paragraphs">
      <app-paragraph [translationKey]="paragraph"></app-paragraph>
    </div>
  </section>
</div>